name: Build

on:
  pull_request:
    branches: [master, main]
  push:
    branches: ["*"]
    tags: ["*"]
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  linux_nix:
    uses: SpiralP/github-reusable-workflows/.github/workflows/build.yml@011b8cd02ffce1a51df2753f754884c83e8559bc # main

  windows_x86:
    name: Build Windows ${{ matrix.config.arch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - arch: x86_64
            target: x86_64-pc-windows-msvc
          # - arch: i686
          #   target: i686-pc-windows-msvc

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install rust
        run: |
          rustup default stable
          rustup target add ${{ matrix.config.target }}

      - name: Build
        run: |
          cargo build --target ${{ matrix.config.target }}

      - name: Test
        run: |
          cargo test --target ${{ matrix.config.target }} -- --nocapture --test-threads 1
