name: Build

on:
  pull_request:
    branches: [master, main]
  push:
    branches: ["*"]
    tags: ["*"]
  workflow_dispatch:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # for checkout

jobs:
  linux_nix:
    uses: SpiralP/github-reusable-workflows/.github/workflows/build.yml@c856264ddbdf0f2f1f569a79e0871ab77cbd8d08 # main

  windows_x86:
    name: Build Windows ${{ matrix.config.arch }}
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - arch: x86_64
            target: x86_64-pc-windows-msvc
          # - arch: i686
          #   target: i686-pc-windows-msvc

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install rust
        run: |
          rustup default stable
          rustup target add ${{ matrix.config.target }}

      - name: Build
        run: |
          cargo build --target ${{ matrix.config.target }}

      - name: Test
        run: |
          cargo test --target ${{ matrix.config.target }} -- --nocapture --test-threads 1
